.footer__copyright {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;

}
@media screen and (max-width: 670px) {
.footer__text {
    font-size: 14px;
    line-height: 17px;
    width: 282px;
    margin: 0 auto;
    padding-bottom: 36px;
}
}