.popup__submit_disabled {
    opacity: 20%;
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 2px;
}
.popup__submit_disabled:hover {
    cursor: default;
}
@media (max-width: 650px) {
    .popup__submit_disabled {
        width: 238px;
        height: 46px;
        margin: 0;
        font-size: 14px;
        line-height: 16,94px;
    }
    
}