.footer {
    margin: 20px auto 60px 2px;
    max-width: 380px;
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 27px auto 60px;
        
    

    }

}
@media screen and (max-width: 670px) {
    .footer {
    width: 282px;
 
}
    }


    